<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<div>
	<ul>
		<li><%= link_to 'Edit', edit_user_path(@user) %></li>
		<li><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	</ul>
</div>

<div>
	<% if @user.ratings.empty? %>
		User has no ratings
	<% else %>
		Has <%= pluralize(@user.ratings.count, "rating") %>, average <%= @user.average_rating %>
	<% end %>
</div>

<br/>

<div> 
	<b>ratings</b> <br/>
	<% @user.ratings.each do |rating| %>
   		<%= rating %>
   		<% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
   		<br/>
 	<% end %>
</div>

<div>
	<b>clubs</b>
	<% @user.beer_clubs.each do |bc| %>
		<p><%= link_to bc.name, bc %></p>
	<% end %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
